@model IEnumerable<TestApp2.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Идентификатор заказа
        </th>
        <th>
            Город отправителя
        </th>
        <th>
            Адрес отправителя
        </th>
        <th>
            Город получателя
        </th>
        <th>
            Адрес получателя
        </th>
        <th>
           Вес посылки
        </th>
        <th>
            Дата отправления
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SenderCity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SenderAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RecipientCity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RecipientAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Weight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
